name: CI
on: [push]

jobs:
  lint-actions:
    name: Lint Actions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        action: ["build", "deploy", "setup"]
    steps:
      - uses: actions/checkout@v5
      - name: "${{ matrix.action }}: validate action.yml against a remote schema"
        uses: cardinalby/schema-validator-action@v3
        with:
          file: './${{ matrix.action }}/action.yml'
          schema: 'https://json.schemastore.org/github-action.json'
